<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Fases</title>

<body>

	<header th:insert="~{fragmentos/nav.html}"></header>

	<div class="container">

		<div id="algoritmos">

			<div v-if="errorMessage != ''" class="mt-2">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{errorMessage}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>

			<div v-if="successMessage != ''" class="mt-2">
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					{{successMessage}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>

			<div class="row mt-5 justify-content-around">
				<div class="col">
					<div class="row justify-content-center">
						<button class="btn btn-custom-color fs-5 w-50" @click="showModal('crearAlgoritmoModal')"><i
								class="fa-solid fa-plus fs-5"></i> Crear
							algoritmo</button>

						<div class="modal fade" id="crearAlgoritmoModal" tabindex="-1"
							aria-labelledby="crearAlgoritmoModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-custom-light-color">
										<h1 class="modal-title fs-5 text-white" id="crearAlgoritmoModalLabel">Nuevo
											algoritmo de clustering</h1>
										<button type="button" class="btn-close bg-white" @click="hideModal"></button>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group mb-4">
												<div class="input-container mt-2">
													<label for="crearAlgoritmo"
														class="input-container-label fw-bold">Nombre
														del algoritmo</label>
													<input class="input-container-input" v-model="nombreAlgoritmo"
														type="text" id="crearAlgoritmo">
												</div>
											</div>

											<div class="form-group">
												<div class="row justify-content-center">
													<div class="col text-center">
														<button type="button" @click="crearAlgoritmo"
															class="btn btn-outline-custom-color fs-5">Guardar</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col">
					<div class="row justify-content-center">
						<button class="btn btn-custom-color fs-5 w-50" @click="showModal('borrarAlgoritmoModal')"><i
								class="fa-solid fa-trash fs-5"></i>
							Borrar algoritmo</button>

						<div class="modal fade" id="borrarAlgoritmoModal" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-custom-light-color">
										<form class="w-100">
											<div class="search-input-container">
												<input class="search-input" type="text" placeholder="Buscar algoritmo"
													v-model="searchedAlgoritmo" @keyup="buscarAlgoritmosCoincidentes"
													id="borrarAlgoritmo">
												<i class="search-input-container-i fa-solid fa-magnifying-glass"></i>
											</div>

										</form>
									</div>
									<div class="modal-body bg-light">
										<div id="modalBodyRow" class="row justify-content-center overflow-y-auto"
											style="max-height: 500px !important;">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="borrarAlgoritmoToast" style="z-index: 9999;"
				class="toast position-absolute top-50 start-50 translate-middle" data-bs-autohide="false" role="alert"
				aria-live="assertive" aria-atomic="true">
				<div class="toast-header bg-custom-light-color bg-gradient">
					<strong class="text-white me-auto fs-5"><i
							class="fa-sharp fa-solid fa-circle-exclamation fa-flip"></i>
						Aviso</strong>
				</div>
				<div class="toast-body">
					<div class="row justify-content-center mb-2">
						<strong class="text-center text-custom-light-color fw-bold fs-6">¿Seguro que desea borrar este
							algoritmo?</strong>
					</div>
					<div class="row justify-content-around">
						<div class="col-5">
							<button type="button" @click="borrarAlgoritmo" class="btn btn-success">Confirmar <i
									class="fa-solid fa-check"></i></button>
						</div>
						<div class="col-5">
							<button type="button" class="btn btn-danger" data-bs-dismiss="toast"
								aria-label="Close">Cancelar
								<i class="fa-solid fa-xmark"></i></button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script src="/js/algoritmos.js"></script>

</body>

</html>