<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Index</title>

<body>

	<header th:insert="~{fragmentos/nav.html}"></header>

	<style>
		
	</style>

	<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

	<script>

		document.addEventListener("DOMContentLoaded", function () {

			let typedTitulo = new Typed('#textTitulo', {
				strings: ['¡Le damos la bienvenida a nuestra aplicación!'],
				typeSpeed: 30,
				fadeOut: true,
				showCursor: true, // Mostrar cursor de escritura
				cursorChar: "|", // Carácter del cursor
				contentType: "html",
				cursorCharStyle: "color: red; font-size: 40px;",
			});


			let typed1 = new Typed('#text1', {
				strings: ['Descubra nuestra herramienta predictiva para consultar la probabilidad de supervivencia de sus pacientes'],
				typeSpeed: 30,
				fadeOut: true,
				showCursor: true, // Mostrar cursor de escritura
				cursorChar: "|", // Carácter del cursor
				contentType: "html",
			});

			let typed2 = new Typed('#text2', {
				strings: ['Descargue un informe con los resultados de los pacientes devueltos por la herramienta predictiva'],
				typeSpeed: 30,
				fadeOut: true,
				showCursor: true, // Mostrar cursor de escritura
				cursorChar: "|", // Carácter del cursor
				contentType: "html",
			});

			let typed3 = new Typed('#text3', {
				strings: ['Añada la información de los pacientes a la Base de Datos para mejorar la precisión de la herramienta'],
				typeSpeed: 30,
				fadeOut: true,
				showCursor: true, // Mostrar cursor de escritura
				cursorChar: "|", // Carácter del cursor
				contentType: "html",
			});
		});

	</script>

	<div class="row justify-content-center mt-5">
		<div class="col-md-8 text-center titulo-container">
			<span id="textTitulo" class="titulo-index"></span>
		</div>
	</div>

	<div class="row justify-content-around mt-5">
		<div class="index-card">
			<div class="index-card-icon-container">
				<a th:href="@{/medico/herramientaPredictiva}">
					<i class="fa-solid fa-arrow-right index-card-icon"></i>
				</a>
			</div>
			<span id="text1" class="index-card-text"></span>
		</div>

		<div class="index-card">
			<div class="index-card-icon-container">
				<a th:href="@{/medico/herramientaPredictiva}">
					<i class="fa-solid fa-arrow-right index-card-icon"></i>
				</a>
			</div>
			<span id="text2" class="index-card-text"></span>
		</div>

		<div class="index-card">
			<div class="index-card-icon-container">
				<a th:href="@{/medico/herramientaPredictiva}">
					<i class="fa-solid fa-arrow-right index-card-icon"></i>
				</a>
			</div>
			<span id="text3" class="index-card-text"></span>
		</div>
	</div>





</body>

</html>