<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Index</title>

<body>

	<header th:insert="~{fragmentos/nav.html}"></header>
	
	<style type="text/css">
	    .zoom {
		    transition: transform .4s; 
		}
		 
		.zoom:hover {
		    transform: scale(1.25); 
		}
		
		.text-center {
		    transition: transform .3s; 
		}
		
		.text-center:hover {
		    transform: scale(1.1); 
		}
    </style>

	<div class="container">
	    <div class="row">
	        <h1 class="text-center pb-5 pt-2"> ¡Bienvenido a la aplicación! </h1>
	        <div align="center">
	        	<img class="zoom" src="images/favicon.png" style="max-height: 50%;max-width:50%;">
	        </div>	       
	    </div>
	</div>
	

</body>

</html>