<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login</title>

	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
          
 	<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>

<body>

	<header th:insert="fragmentos/header.html"></header>
	
	<br /><br />
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<div th:if="${param.error}">
					<div class="alert alert-danger">Correo o contraseña incorrectos</div>
				</div>
				<div th:if="${param.logout}">
					<div class="alert alert-success">Has hecho logout</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h2 class="text-center">Login Form</h2>
					</div>
					<div class="card-body">
						<form method="post" role="form" th:action="@{/login}" class="form-horizontal">
							<div class="form-group mb-3">
								<label class="control-label">Correo</label>
								<input type="text" id="username" name="username" class="form-control"
									placeholder="Introduce correo electronico" />
							</div>

							<div class="form-group mb-3">
								<label class="control-label"> Password</label>
								<input type="password" id="password" name="password" class="form-control"
									placeholder="Introduce contraseña" />
							</div>
							<div class="form-group mb-3">
								<button type="submit" class="btn btn-primary">Submit</button>
								<span> ¿No estás registrado?
									<a th:href="@{/registro}">Regístrate aquí</a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>