<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>

<body>
	
	<header th:insert="~{fragmentos/nav.html}"></header>

	<div class="container">
		<div class="row col-md-10">
			<h2>Medicos Registrados</h2>
		</div>
		<table class="table table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Correo</th>
					<th>Dni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="medico : ${medicos}">
					<td th:text="${medico.nombre}"></td>
					<td th:text="${medico.apellidos}"></td>
					<td th:text="${medico.correo}"></td>
					<td th:text="${medico.dni}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>