<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Médicos</title>

<body class="bg-light-subtle">

	<header th:insert="~{fragmentos/nav.html}"></header>

	<div class="container">
		<div th:if="${#lists.size(medicos) > 0}" class="row justify-content-center my-3">

			<div class="col-12 mb-3">
				<h2 class="text-center fw-bold fst-italic text-custom-color fs-1">Medi<span class="text-custom-light-color">cos</span> <span class="text-custom-light-color">Regis</span>trados</h2>
			</div>
			<div class="table-responsive shadow-lg p-0">
				<table class="table table-custom-color table-striped-columns table-hover m-0">
					<thead class="table-custom-color-table-head">
						<tr>
							<th class="fs-5 text-light">Nombre</th>
							<th class="fs-5 text-light">Apellidos</th>
							<th class="fs-5 text-light">Correo</th>
							<th class="fs-5 text-light">Dni</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="medico : ${medicos}">
							<td class="text-light" th:text="${medico.nombre}"></td>
							<td class="text-light" th:text="${medico.apellidos}"></td>
							<td class="text-light" th:text="${medico.correo}"></td>
							<td class="text-light" th:text="${medico.dni}"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<div th:unless="${#lists.size(medicos) > 0}" class="row">

		</div>
	</div>
</body>

</html>