<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/index}">Login y Registro</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row col-md-10">
			<h2>Medicos Registrados</h2>
		</div>
		<table class="table table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Correo</th>
					<th>Dni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="medico : ${medicos}">
					<td th:text="${medico.nombre}"></td>
					<td th:text="${medico.apellidos}"></td>
					<td th:text="${medico.correo}"></td>
					<td th:text="${medico.dni}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="fases"></div>

	<script>
		Vue.component('fase1', {
			data: function () {
				return {
					mensaje: 'Fase1',
					algoritmos: ['K', 'M', 'H', 'A'],
					algoritmo: '',
					nClusters: '',
					csv: '',
				}
			},



			template: `
			<div>
				<p>{{mensaje}}</p>
				<form>				
				 	<div class="form-group col-md-6 pb-4">
						<label class="form-label" for="algoritmo">Tipo de algoritmo</label>
						<select v-model="algoritmo" class="form-control" id="algoritmo">
							<option value="" disabled selected>Selecciona un tipo de algoritmo</option>
							<option v-for="a in algoritmos">{{a}}</option>
						</select>
					</div>
					
					<div class="form-group col-md-6 pb-4">
						<label class="form-label" for="nClusters">Numero de clusters</label>
					    <input type="number" class="form-control" v-model="nClusters" id="nClusters">
					</div>
					
					<!-- <div class="form-group">
						<label for="csv">Archivo csv</label>
						<input type="file" class="form-control-file" v-model="csv" id="csv">
					</div> -->
					<button type="submit" class="btn btn-primary">Ejecutar</button>
				</form>
			</div>
			
			`

		});

		Vue.component('fase2', {
			data: function () {
				return {
					mensaje: 'Fase2',
					list: [],
					headers: [{header: "Nombre", pos: 0}, {header: "Apellidos", pos: 1}, {header: "Correo", pos: 2}, {header: "Dni", pos: 3}]
				}
			},

			created() {
				const THIZ = this;
				$.ajax({
					type: 'GET',
					url: window.location.origin + '/fases/getMedicos',
					success: function (data) {
						for (let i = 0; i < data.length; i++) THIZ.list.push(data[i]);

					},
					error: function (error) {
						console.log("error");
					}
				});
			},

			template: `
			<div>
				<p>{{mensaje}}</p>
				<table class="table table-bordered table-hover">
					<thead class="table-dark">
						<tr>
							<th v-for="head in headers"> 
							{{head.header}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="i in list">
							<td>{{i.nombre}}</td>
							<td>{{i.apellidos}}</td>
							<td>{{i.correo}}</td>
							<td>{{i.dni}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			`

		});

		Vue.component('fase3', {
			data: function () {
				return {
					mensaje: 'Fase3',
				}
			},



			template: `
			<div>
				<p>{{mensaje}}</p>
			</div>
			
			`

		});

		Vue.component('fase4', {
			data: function () {
				return {
					mensaje: 'Fase4',
				}
			},



			template: `
			<div>
				<p>{{mensaje}}</p>
			</div>
			
			`

		});

		Vue.component('fase5', {
			data: function () {
				return {
					mensaje: 'Fase5',
				}
			},



			template: `
			<div>
				<p>{{mensaje}}</p>
			</div>
			
			`

		});

		new Vue({
			el: "#fases",
			data: function () {
				return {
					seleccion: '',
				}
			},

			methods: {
				cambiarSeleccion(seleccion) {
					const THIZ = this;
					THIZ.seleccion = seleccion;
				},

				colorTexto(seleccion) {
					if (seleccion === this.seleccion) return 'white';
					else return 'black';
				},

				colorBoton(seleccion) {
					if (seleccion === this.seleccion) return '#5bc0de';

				},
			},


			template: `
				<div class="container" style="padding-top:1%">		
				        
		        	<div class="form-group col-md-12">
	                    <button @click="cambiarSeleccion('Fase1')" type="button" class="btn btn-md col-md-2" :style="{backgroundColor: colorBoton('Fase1')}" style="border-color: #FAFAFA; border: 1px solid">
	                        <span :style="{color: colorTexto('Fase1')}">Fase 1</span> 
	                    </button>
	                    <button @click="cambiarSeleccion('Fase2')" type="button" class="btn btn-md col-md-2" :style="{backgroundColor: colorBoton('Fase2')}" style="border-color: #FAFAFA; border: 1px solid">
	                        <span :style="{color: colorTexto('Fase2')}">Fase 2</span>
	                    </button>
	                    <button @click="cambiarSeleccion('Fase3')" type="button" class="btn btn-md col-md-2" :style="{backgroundColor: colorBoton('Fase3')}" style="border-color: #FAFAFA; border: 1px solid">
	                        <span :style="{color: colorTexto('Fase3')}">Fase 3</span>
	                    </button>
	                    <button @click="cambiarSeleccion('Fase4')" type="button" class="btn btn-md col-md-2" :style="{backgroundColor: colorBoton('Fase4')}" style="border-color: #FAFAFA; border: 1px solid">
	                        <span :style="{color: colorTexto('Fase4')}">Fase 4</span>
	                    </button>
	                    <button @click="cambiarSeleccion('Fase5')" type="button" class="btn btn-md col-md-2" :style="{backgroundColor: colorBoton('Fase5')}" style="border-color: #FAFAFA; border: 1px solid">
	                        <span :style="{color: colorTexto('Fase5')}">Fase 5</span>
	                    </button>
	            	</div>	    
	            	
	            	<fase1 v-if="seleccion==='Fase1'"/>
	            	<fase2 v-if="seleccion==='Fase2'"/>
	                <fase3 v-if="seleccion==='Fase3'"/>     
	                <fase4 v-if="seleccion==='Fase4'"/>  
	                <fase5 v-if="seleccion==='Fase5'"/>   
	                    
        		</div>`
		})
	</script>

</body>

</html>