<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Procesamiento no secuencial</title>

<body>

	<header th:insert="~{fragmentos/nav.html}"></header>
	
	<style>
	
		.fase-container:hover .fase-border-component{
			transform: scale(1.1);
		}
		
		.fase-container:hover .fase-component{
			transform: scale(1.1);
		}
		
	</style>

	<div id="noSecuencialFases"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

	<script type="module" src="/js/noSecuencialFases.js"></script>
	
	<script type="text/javascript" src="/js/utils.js"></script>

</body>

</html>