<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Mi Perfil</title>

<body class="bg-custom-extra-light-color">

	<header th:insert="~{fragmentos/nav.html}"></header>

	<div id="perfilUsuarioApp" th:data-idUsuario="${session.idUsuario}">
		<div class="row justify-content-center mt-5">
			<div class="col-10">
				<div v-if="notSessionUserMessageError != ''" class="alert alert-danger alert-dismissible fade show" role="alert">
					{{notSessionUserMessageError}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<form>

					<div class="row g-3 mb-3">
						<div class="col-md-6">
							<label for="nombre" class="text-custom-light-color fs-5 fw-bold form-label">Nombre</label>

							<div class="position-relative">
								<input type="text" id="nombre" name="nombre" class="perfil-input"
									style="padding-right: 35px !important;" :placeholder="usuario.nombre.placeholder"
									disabled />
								<button @click="showToast('nombre', 'cambiarNombreModal')" type="button"
									class="position-absolute top-50 end-0 translate-middle btn-editUser p-0 m-0">
									<i class="fa-solid fa-pen fs-5 m-1"></i>
								</button>
							</div>
						</div>

						<div class="col-md-6">
							<label for="apellidos"
								class="text-custom-light-color fs-5 fw-bold form-label">Apellidos</label>
							<div class="position-relative">
								<input type="text" id="apellidos" name="apellidos" class="perfil-input"
									style="padding-right: 35px !important;" :placeholder="usuario.apellidos.placeholder"
									disabled />
								<button @click="showToast('apellidos', 'cambiarApellidosModal')" type="button"
									class="position-absolute top-50 end-0 translate-middle btn-editUser p-0 m-0">
									<i class="fa-solid fa-pen fs-5  p-1"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="row g-3 mb-3">

						<div class="col-md-6">
							<label for="correo" class="text-custom-light-color fs-5 fw-bold form-label">Correo</label>
							<div class="position-relative">
								<input type="text" id="correo" name="correo" class="perfil-input"
									style="padding-right: 35px !important;" :placeholder="usuario.correo.placeholder"
									disabled />
								<button @click="showToast('correo', 'cambiarCorreoModal')" type="button"
									class="position-absolute top-50 end-0 translate-middle btn-editUser p-0 m-0">
									<i class="fa-solid fa-pen fs-5 p-1"></i>
								</button>
							</div>
						</div>

						<div class="col-md-6">
							<label for="dni" class="text-custom-light-color fs-5 fw-bold form-label">NIF/NIE</label>
							<div class="position-relative">
								<input type="text" id="dni" name="dni" class="perfil-input"
									style="padding-right: 35px !important;" :placeholder="usuario.dni.placeholder"
									disabled />
								<button @click="showToast('dni', 'cambiarDniModal')" type="button"
									class="position-absolute top-50 end-0 translate-middle btn-editUser p-0 m-0">
									<i class="fa-solid fa-pen fs-5 p-1"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="row g-3 justify-content-center mb-3">

						<div class="col-md-6 mb-3">
							<label for="password"
								class="text-custom-light-color fs-5 fw-bold form-label">Contraseña</label>
							<div class="position-relative">
								<input type="password" id="password" name="password" class="perfil-input"
									style="padding-right: 35px !important;" :placeholder="usuario.password.placeholder"
									disabled />
								<button @click="showToast('password', 'cambiarPasswordModal')" type="button"
									class="position-absolute top-50 end-0 translate-middle btn-editUser p-0 m-0">
									<i class="fa-solid fa-pen fs-5 p-1"></i>
								</button>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>


		<div id="validationBackErrorToast" class="toast position-absolute top-50 start-50 translate-middle"
			data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header bg-danger bg-gradient bg-opacity-75">
				<strong class="me-auto fs-5"><i class="fa-sharp fa-solid fa-circle-exclamation fa-flip"></i>
					Aviso</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				<strong class="text-danger" :value="backErrorMessage"></strong>
			</div>
		</div>


		<div class="modal fade" id="cambiarNombreModal" tabindex="-1" aria-labelledby="cambiarNombreModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-custom-light-color">
						<h1 class="modal-title fs-5 text-white" id="cambiarNombreModalLabel">Cambiar nombre</h1>
						<button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div v-if="backErrorMessage != ''" class="alert alert-danger">
							{{backErrorMessage}}
						</div>

						<form @submit.prevent="cambiarDatoPerfilUsuario('nombre')">
							<div class="form-group mb-4">
								<div class="input-container mt-2" :class="usuario.nombre.validationInputClass">
									<label for="nuevoNombre" class="input-container-label fw-bold">Nuevo
										nombre</label>
									<input class="input-container-input" type="text" id="nuevoNombre"
										:style="{color: usuario.nombre.inputTextColor}" v-on:keyup="comprobarValidacionNombre" v-model="usuario.nombre.valorModificado">
									<i v-if="usuario.nombre.validationIconClass != ''"
										:class="usuario.nombre.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="usuario.nombre.validationInputMessage!=''"
									:class="usuario.nombre.validationInputMessageClass" class="m-0">
									{{usuario.nombre.validationInputMessage}}
								</p>
							</div>

							<div class="form-group">
								<div class="row justify-content-center">
									<div class="col text-center">
										<button type="submit" class="btn btn-outline-custom-color fs-5">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="cambiarApellidosModal" tabindex="-1" aria-labelledby="cambiarApellidosModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-custom-light-color">
						<h1 class="modal-title fs-5 text-white" id="cambiarApellidosModalLabel">Cambiar apellidos</h1>
						<button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div v-if="backErrorMessage != ''" class="alert alert-danger">
							{{backErrorMessage}}
						</div>

						<form @submit.prevent="cambiarDatoPerfilUsuario('apellidos')">
							<div class="form-group mb-4">
								<div class="input-container mt-2" :class="usuario.apellidos.validationInputClass">
									<label for="nuevosApellidos" class="input-container-label fw-bold">Nuevos
										apellidos</label>
									<input class="input-container-input" type="text" id="nuevosApellidos"
										:style="{color: usuario.apellidos.inputTextColor}" v-on:keyup="comprobarValidacionApellidos" v-model="usuario.apellidos.valorModificado">
									<i v-if="usuario.apellidos.validationIconClass != ''"
										:class="usuario.apellidos.validationIconClass"
										class="input-container-i fs-5"></i>
								</div>
								<p v-if="usuario.apellidos.validationInputMessage!=''"
									:class="usuario.apellidos.validationInputMessageClass" class="m-0">
									{{usuario.apellidos.validationInputMessage}}
								</p>
							</div>

							<div class="form-group">
								<div class="row justify-content-center">
									<div class="col text-center">
										<button type="submit" class="btn btn-outline-custom-color fs-5">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="cambiarCorreoModal" tabindex="-1" aria-labelledby="cambiarCorreoModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-custom-light-color">
						<h1 class="modal-title fs-5 text-white" id="cambiarCorreoModalLabel">Cambiar correo</h1>
						<button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div v-if="backErrorMessage != ''" class="alert alert-danger">
							{{backErrorMessage}}
						</div>

						<form @submit.prevent="cambiarDatoPerfilUsuario('correo')">
							<div class="form-group mb-4">
								<div class="input-container mt-2" :class="usuario.correo.validationInputClass">
									<label for="nuevoCorreo" class="input-container-label fw-bold">Nuevo
										correo</label>
									<input class="input-container-input" type="text" id="nuevoCorreo"
										:style="{color: usuario.correo.inputTextColor}" v-on:keyup="comprobarValidacionCorreo" v-model="usuario.correo.valorModificado">
									<i v-if="usuario.correo.validationIconClass != ''"
										:class="usuario.correo.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="usuario.correo.validationInputMessage!=''"
									:class="usuario.correo.validationInputMessageClass" class="m-0">
									{{usuario.correo.validationInputMessage}}
								</p>
							</div>
							<div class="form-group">
								<div class="row justify-content-center">
									<div class="col text-center">
										<button type="submit" class="btn btn-outline-custom-color fs-5">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="cambiarDniModal" tabindex="-1" aria-labelledby="cambiarDniModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-custom-light-color">
						<h1 class="modal-title fs-5 text-white" id="cambiarDniModalLabel">Cambiar NIF/NIE</h1>
						<button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div v-if="backErrorMessage != ''" class="alert alert-danger">
							{{backErrorMessage}}
						</div>

						<form @submit.prevent="cambiarDatoPerfilUsuario('dni')">
							<div class="form-group mb-4">
								<div class="input-container mt-2" :class="usuario.dni.validationInputClass">
									<label for="nuevoDni" class="input-container-label fw-bold">Nuevo
										NIF/NIE</label>
									<input class="input-container-input" type="text" id="nuevoDni"
										:style="{color: usuario.dni.inputTextColor}" v-on:keyup="comprobarValidacionDni" v-model="usuario.dni.valorModificado">
									<i v-if="usuario.dni.validationIconClass != ''"
										:class="usuario.dni.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="usuario.dni.validationInputMessage!=''"
									:class="usuario.dni.validationInputMessageClass" class="m-0">
									{{usuario.dni.validationInputMessage}}
								</p>
							</div>
							<div class="form-group">
								<div class="row justify-content-center">
									<div class="col text-center">
										<button type="submit" class="btn btn-outline-custom-color fs-5">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="cambiarPasswordModal" tabindex="-1" aria-labelledby="cambiarPasswordModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-custom-light-color">
						<h1 class="modal-title fs-5 text-white" id="cambiarPasswordModalLabel">Cambiar contraseña</h1>
						<button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div v-if="backErrorMessage != ''" class="alert alert-danger">
							{{backErrorMessage}}
						</div>

						<form @submit.prevent="cambiarDatoPerfilUsuario('password')">
							<div class="form-group mb-4">
								<div class="input-container mt-2" :class="usuario.password.validationInputClass">
									<label for="nuevaPassword" class="input-container-label fw-bold">Nueva
										contraseña</label>
									<input class="input-container-input" type="password" id="nuevaPassword"
										:style="{color: usuario.password.inputTextColor}" v-on:keyup="comprobarValidacionPassword" v-model="usuario.password.valorModificado">
									<i v-if="usuario.password.validationIconClass != ''"
										:class="usuario.password.validationIconClass"
										class="input-container-i fs-5"></i>
								</div>
								<p v-if="usuario.password.validationInputMessage!=''"
									:class="usuario.password.validationInputMessageClass" class="m-0">
									{{usuario.password.validationInputMessage}}
								</p>
							</div>
							<div class="form-group mb-4">
								<div class="input-container mt-2" :class="usuario.repeatPassword.validationInputClass">
									<label for="repetirNuevaPassword" class="input-container-label fw-bold">Repetir
										contraseña</label>
									<input class="input-container-input" type="password" id="repetirNuevaPassword"
										:style="{color: usuario.repeatPassword.inputTextColor}"
										v-on:keyup="comprobarValidacionRepeatPassword"
										v-model="usuario.repeatPassword.valorRepeatedPassword">
									<i v-if="usuario.repeatPassword.validationIconClass != ''"
										:class="usuario.repeatPassword.validationIconClass"
										class="input-container-i fs-5"></i>
								</div>
								<p v-if="usuario.repeatPassword.validationInputMessage!=''"
									:class="usuario.repeatPassword.validationInputMessageClass" class="m-0">
									{{usuario.repeatPassword.validationInputMessage}}
								</p>
							</div>

							<div class="row justify-content-center mb-3">
								<div class="col-auto">
									<div class="form-check form-switch">
										<input @click="mostrar_passwords" class="form-check-input" type="checkbox"
											role="switch" id="flexSwitchCheckDefault">
										<label class="form-check-label" for="flexSwitchCheckDefault">Mostrar
											contraseñas
										</label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row justify-content-center">
									<div class="col text-center">
										<button type="submit" class="btn btn-outline-custom-color fs-5">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="module" src="/js/perfilUsuario.js"></script>

</body>

</html>