<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Predicciones</title>

<body class="bg-light-subtle">

	<header th:insert="~{fragmentos/nav.html}"></header>

	<style>
		.table-responsive::-webkit-scrollbar {
			width: 10px;
			/* ancho de la barra de desplazamiento */
			background-color: rgb(65, 105, 225);
			/* color de fondo de la barra */
			border-radius: 5px;
		}

		.table-responsive::-webkit-scrollbar-thumb {
			background-color: rgb(123, 151, 234);
			/* color del "pulgador" de la barra */
			border-radius: 5px;
			/* redondear las esquinas del "pulgador" */
		}

		.table-responsive::-webkit-scrollbar-thumb:hover {
			background: rgb(162, 182, 240);
		}

		.boton-derecha {
			text-align: center;
			float: right;
		}
	</style>

	<div class="container">

		<div id="predicciones">
		
			<div v-if="prediccionEliminadaErrorMessage != ''" class="mt-2">
				<div class="alert alert-info">{{prediccionEliminadaErrorMessage}}</div>
			</div>

			<div v-if="prediccionEliminadaCorrectamenteMessage != ''" class="mt-2">
				<div class="alert alert-info">{{prediccionEliminadaCorrectamenteMessage}}</div>
			</div>

			<div class="row mt-5 justify-content-around">
				<div class="col-4">
					<div class="row justify-content-center">
						<button class="btn btn-custom-color fs-5 w-50" data-bs-toggle="modal"
							data-bs-target="#crearPrediccionModal"><i class="fa-solid fa-plus fs-5"></i> Crear
							prediccion</button>

						<div class="modal fade" id="crearPrediccionModal" tabindex="-1"
							aria-labelledby="crearPrediccionModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-custom-light-color">
										<h1 class="modal-title fs-5 text-white" id="crearPrediccionModalLabel">Nueva
											predicción</h1>
										<button type="button" class="btn-close bg-white" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group mb-4">
												<div class="input-container mt-2">
													<label for="crearPrediccion"
														class="input-container-label fw-bold">Descripción de la
														predicción</label>
													<input class="input-container-input" type="text"
														id="crearPrediccion">
												</div>
											</div>

											<div class="form-group">
												<div class="row justify-content-center">
													<div class="col text-center">
														<button type="submit"
															class="btn btn-outline-custom-color fs-5">Guardar</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-4">
					<div class="row justify-content-center">
						<button class="btn btn-custom-color fs-5 w-50"
							@click="resetearModalBody(true)"><i
								class="fa-solid fa-trash fs-5"></i>
							Eliminar
							prediccion</button>

						<div class="modal fade" id="eliminarPrediccionModal" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-custom-light-color">
										<form class="w-100">
											<div class="search-input-container">
												<input class="search-input" type="text" placeholder="Buscar predicción"
													v-model="searchedDescripcion" v-on:keyup="buscarPredicciones"
													id="eliminarPrediccion">
												<i class="search-input-container-i fa-solid fa-magnifying-glass"></i>
											</div>

										</form>
									</div>
									<div class="modal-body bg-light">
										<div id="modalBodyRow" class="row justify-content-center overflow-y-auto"
											style="max-height: 500px !important;">
											<div class="noResults-component">
												¡No hay ninguna coincidencia!
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="eliminarPrediccionToast" style="z-index: 9999;"
				class="toast position-absolute top-50 start-50 translate-middle" data-bs-autohide="false" role="alert"
				aria-live="assertive" aria-atomic="true">
				<div class="toast-header bg-custom-light-color bg-gradient">
					<strong class="text-white me-auto fs-5"><i
							class="fa-sharp fa-solid fa-circle-exclamation fa-flip"></i>
						Aviso</strong>
				</div>
				<div class="toast-body">
					<div class="row justify-content-center mb-2">
						<strong class="text-center text-custom-light-color fw-bold fs-6">¿Seguro que desea eliminar esta
							predicción?</strong>
					</div>
					<div class="row justify-content-around">
						<div class="col-5">
							<button type="button" @click="eliminarPrediccion" class="btn btn-success">Confirmar <i
									class="fa-solid fa-check"></i></button>
						</div>
						<div class="col-5">
							<button type="button" class="btn btn-danger" data-bs-dismiss="toast"
								aria-label="Close">Cancelar <i class="fa-solid fa-xmark"></i></button>
						</div>
					</div>
				</div>
			</div>

			<!--<div th:if="${#lists.size(predicciones) > 0}" class="row justify-content-center my-3">


				<div v-if="prediccionErrorMessage != ''" class="alert alert-danger">
					{{prediccionErrorMessage}}
				</div>
				<div v-if="prediccionSuccessMessage != ''" class="alert alert-info">
					{{prediccionSuccessMessage}}
				</div>
				<div class="table-responsive shadow-lg p-0"
					style="max-height: 500px !important; overflow-y: auto !important;">
					<table id="prediccionesRegistradasTable"
						class="table table-custom-color table-striped-columns table-hover m-0">
						<thead class="table-custom-color-table-head">
							<tr>
								<th class="fs-5 text-white text-center">Descripción <button
										@click="howToOrderColumn('prediccion')" class="btn btn-unstyled p-0"><i
											id="iconoprediccion" class="fa-solid fa-arrow-up-z-a fs-5"></i></button>
								</th>

								<th class="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="prediccion in predicciones">
								<td>
									<div class="fs-5 text-white fw-semibold col-md-6">
										{{prediccion.descripcion}}</div>
								</td>
								<td><button class="btn btn-custom-color" th:text="'Eliminar '"
										@click="eliminar(prediccion.id)" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div th:unless="${#lists.size(predicciones) > 0}" class="row">
				<p class="mt-3 text-center  text-custom-color fs-3 fw-bold">¡No hay ninguna prediccion registrada
					todavía!
				</p>
			</div>

		</div>-->
		</div>


		<script src="/js/predicciones.js"></script>



</body>

</html>