<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Predicciones</title>

<body class="bg-light-subtle">

	<header th:insert="~{fragmentos/nav.html}"></header>

	<div class="container">

		<div id="predicciones">

			<div class="row justify-content-center mt-3">
				<div v-if="prediccionCreadaErrorMessage != ''" class="col-md-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{prediccionCreadaErrorMessage}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>

				<div v-if="prediccionCreadaCorrectamenteMessage != ''" class="col-md-5">
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						{{prediccionCreadaCorrectamenteMessage}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>

				<div v-if="prediccionEliminadaErrorMessage != ''" class="col-md-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{prediccionEliminadaErrorMessage}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>

				<div v-if="prediccionEliminadaCorrectamenteMessage != ''" class="col-md-5">
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						{{prediccionEliminadaCorrectamenteMessage}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>

			<div class="row mt-3 justify-content-around">
				<div class="col">
					<div class="row justify-content-center">
						<button class="btn btn-custom-color fs-5 w-50" @click="showToastCrearPrediccion"><i
								class="fa-solid fa-plus fs-5"></i> Crear
							predicción</button>

						<div class="modal fade" id="crearPrediccionModal" tabindex="-1"
							aria-labelledby="crearPrediccionModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-custom-light-color">
										<h1 class="modal-title fs-5 text-white" id="crearPrediccionModalLabel">Nueva
											predicción</h1>
										<button type="button" class="btn-close bg-white"
											@click="hideCrearPrediccionModal"></button>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group mb-4">
												<div class="input-container mt-2">
													<label for="crearPrediccion"
														class="input-container-label fw-bold">Descripción de la
														predicción</label>
													<input class="input-container-input"
														v-model="crearPrediccionDescripcion" type="text"
														id="crearPrediccion">
												</div>
											</div>

											<div class="form-group">
												<div class="row justify-content-center">
													<div class="col text-center">
														<button type="button" @click="crearPrediccion"
															class="btn btn-outline-custom-color fs-5">Guardar</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col">
					<div class="row justify-content-center">
						<button class="btn btn-custom-color fs-5 w-50" @click="showToastEliminarPrediccion"><i
								class="fa-solid fa-trash fs-5"></i>
							Eliminar
							predicción</button>

						<div class="modal fade" id="eliminarPrediccionModal" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header bg-custom-light-color">
										<form class="w-100">
											<div class="search-input-container">
												<input class="search-input" type="text" placeholder="Buscar predicción"
													v-model="searchedDescripcion" v-on:keyup="buscarPredicciones"
													id="eliminarPrediccion">
												<i class="search-input-container-i fa-solid fa-magnifying-glass"></i>
											</div>

										</form>
									</div>
									<div class="modal-body bg-light">
										<div id="modalBodyRow" class="row justify-content-center overflow-y-auto"
											style="max-height: 500px !important;">
											<div class="noResults-component">
												¡No hay ninguna coincidencia!
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="eliminarPrediccionToast" style="z-index: 9999;"
				class="toast position-absolute top-50 start-50 translate-middle" data-bs-autohide="false" role="alert"
				aria-live="assertive" aria-atomic="true">
				<div class="toast-header bg-custom-light-color bg-gradient">
					<strong class="text-white me-auto fs-5"><i
							class="fa-sharp fa-solid fa-circle-exclamation fa-flip"></i>
						Aviso</strong>
				</div>
				<div class="toast-body">
					<div class="row justify-content-center mb-2">
						<strong class="text-center text-custom-light-color fw-bold fs-6">¿Seguro que desea eliminar esta
							predicción?</strong>
					</div>
					<div class="row justify-content-around">
						<div class="col-5">
							<button type="button" @click="eliminarPrediccion" class="btn btn-success">Confirmar <i
									class="fa-solid fa-check"></i></button>
						</div>
						<div class="col-5">
							<button type="button" class="btn btn-danger" data-bs-dismiss="toast"
								aria-label="Close">Cancelar <i class="fa-solid fa-xmark"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/predicciones.js"></script>

</body>

</html>