<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Registro de usuarios</title>
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>

<body>

	<header th:insert="fragmentos/header.html"></header>
	
	<br /><br /><br />
	<div class="container">
		<div class="row col-md-8 offset-md-2">
			<div class="card">
			<div th:if="${param.success}">
					<div class="alert alert-info">
						Te has registrado correctamente
					</div>
				</div>
				<div class="card-header">
					<h2 class="text-center">Registro</h2>
				</div>
				<div class="card-body">
					<form method="post" role="form" th:action="@{/registro/guardar}" th:object="${medico}">
						<div class="form-group mb-3">
							<label class="form-label">Nombre</label>
							<input class="form-control" id="nombre" name="nombre" placeholder="Nombre"
								th:field="*{nombre}" type="text" />
							<p th:errors="*{nombre}" class="text-danger" th:if="${#fields.hasErrors('nombre')}">
							</p>
						</div>

						<div class="form-group mb-3">
							<label class="form-label">Last Name</label>
							<input class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos"
								th:field="*{apellidos}" type="text" />
							<p th:errors="*{apellidos}" class="text-danger" th:if="${#fields.hasErrors('apellidos')}"></p>
						</div>

						<div class="form-group mb-3">
							<label class="form-label">Correo</label>
							<input class="form-control" id="correo" name="correo" placeholder="Correo"
								th:field="*{correo}" type="email" />
							<p th:errors="*{correo}" class="text-danger" th:if="${#fields.hasErrors('correo')}"></p>
						</div>
						
						<div class="form-group mb-3">
							<label class="form-label">Dni</label>
							<input class="form-control" id="dni" name="dni" placeholder="Dni"
								th:field="*{dni}" type="dni" />
							<p th:errors="*{dni}" class="text-danger" th:if="${#fields.hasErrors('dni')}"></p>
						</div>

						<div class="form-group mb-3">
							<label class="form-label">Password</label>
							<input class="form-control" id="password" name="password" placeholder="Password"
								th:field="*{password}" type="password" />
							<p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Registro</button>
							<span>¿Ya estás registrado? <a th:href="@{/login}">Haz login</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>