<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Registro</title>

<body class="bg-light-subtle">

	<header th:insert="~{fragmentos/nav.html}"></header>



	<div class="container mb-5 mt-5">
		<div class="row col-md-6 offset-md-3">
			<div th:if="${param.success}">
				<div class="alert alert-info">
					Te has registrado correctamente
				</div>
			</div>
			<div class="card rounded-4 p-0 shadow">

				<div class="card-header rounded-4 rounded-bottom bg-custom-color bg-gradient bg-opacity-75">
					<h2 class="text-center text-white">Registro</h2>
				</div>
				<div class="card-body">
					<div id="registrationValidation">
						<form @submit.prevent="handleSubmit" class="position-relative align-items-center"
							id="formRegistro" method="post" role="form" th:action="@{/registro/guardar}"
							th:object="${medico}">
							<div class="form-group mb-4">

								<div class="input-container mt-3" :class="inputs.nombre.validationInputClass">
									<label class="input-container-label fw-semibold">Nombre</label>
									<input class="input-container-input"  id="nombre"
										name="nombre" th:field="*{nombre}" type="text" v-model="inputs.nombre.text"
										v-on:keyup="validar_nombre()" />
									<i v-if="inputs.nombre.validationIconClass != ''"
										:class="inputs.nombre.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="inputs.nombre.validationInputMessage!=''"
									:class="inputs.nombre.validationInputMessageClass">
									{{inputs.nombre.validationInputMessage}}
								</p>
								<p th:errors="*{nombre}" class="text-danger" th:if="${#fields.hasErrors('nombre')}">
								</p>
							</div>

							<div class="form-group mb-4">

								<div class="input-container" :class="inputs.apellidos.validationInputClass">
									<label class="input-container-label fw-semibold">Apellidos</label>
									<input class="input-container-input" 
										id="apellidos" name="apellidos" th:field="*{apellidos}" type="text"
										v-model="inputs.apellidos.text" v-on:keyup="validar_apellidos()" />
									<i v-if="inputs.apellidos.validationIconClass != ''"
										:class="inputs.apellidos.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="inputs.apellidos.validationInputMessage!=''"
									:class="inputs.apellidos.validationInputMessageClass">
									{{inputs.apellidos.validationInputMessage}}</p>
								<p th:errors="*{apellidos}" class="text-danger"
									th:if="${#fields.hasErrors('apellidos')}"></p>
							</div>

							<div class="form-group mb-4">

								<div class="input-container" :class="inputs.correo.validationInputClass">
									<label class="input-container-label fw-semibold">Correo</label>
									<input class="input-container-input"  id="correo"
										name="correo" th:field="*{correo}" type="email" v-model="inputs.correo.text"
										v-on:keyup="validar_correo()" />
									<i v-if="inputs.correo.validationIconClass != ''"
										:class="inputs.correo.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="inputs.correo.validationInputMessage!=''"
									:class="inputs.correo.validationInputMessageClass">{{inputs.correo.validationInputMessage}}
								</p>
								<p th:errors="*{correo}" class="text-danger" th:if="${#fields.hasErrors('correo')}"></p>
							</div>

							<div class="form-group mb-4">
								<div class="input-container" :class="inputs.dni.validationInputClass">
									<label class="input-container-label fw-semibold">NIF/NIE</label>
									<input class="input-container-input" id="dni"
										name="dni" th:field="*{dni}" type="dni" v-model="inputs.dni.text"
										v-on:keyup="validar_dni()" />
									<i v-if="inputs.dni.validationIconClass != ''"
										:class="inputs.dni.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="inputs.dni.validationInputMessage!=''" :class="inputs.dni.validationInputMessageClass">
									{{inputs.dni.validationInputMessage}}</p>
								<p th:errors="*{dni}" class="text-danger" th:if="${#fields.hasErrors('dni')}"></p>
							</div>

							<div class="form-group mb-4">

								<div class="input-container" :class="inputs.password.validationInputClass">
									<label class="input-container-label fw-semibold">Contraseña</label>

									<input class="input-container-input" 
										id="password" name="password" th:field="*{password}" type="password"
										v-model="inputs.password.text" v-on:keyup="validar_password()"
										aria-describedby="button-password" />
									<i v-if="inputs.password.validationIconClass != ''"
										:class="inputs.password.validationIconClass" class="input-container-i fs-5"></i>

								</div>
								<p v-if="inputs.password.validationInputMessage!=''"
									:class="inputs.password.validationInputMessageClass">
									{{inputs.password.validationInputMessage}}</p>
								<p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
								</p>
							</div>


							<div class="form-group mb-2">

								<div class="input-container" :class="inputs.repeatPassword.validationInputClass">
									<label class="input-container-label fw-semibold">Repetir
										Contraseña</label>
									<input class="col input-container-input" 
										id="repeatPassword" name="repeatPassword" th:field="*{repeatPassword}"
										type="password" v-model="inputs.repeatPassword.text"
										v-on:keyup="validar_repeatPassword()" />
									<i v-if="inputs.repeatPassword.validationIconClass != ''"
										:class="inputs.repeatPassword.validationIconClass" class="input-container-i fs-5"></i>
								</div>
								<p v-if="inputs.repeatPassword.validationInputMessage!=''"
									:class="inputs.repeatPassword.validationInputMessageClass">
									{{inputs.repeatPassword.validationInputMessage}}</p>
								<p th:errors="*{repeatPassword}" class="text-danger"
									th:if="${#fields.hasErrors('repeatPassword')}"></p>
							</div>

							<div class="row justify-content-center mb-4">
								<div class="col-auto">
									<div class="form-check form-switch">
										<input @click="mostrar_passwords" class="form-check-input" type="checkbox" role="switch"
											id="flexSwitchCheckDefault">
										<label class="form-check-label" for="flexSwitchCheckDefault">Mostrar contraseñas
										</label>
									</div>
								</div>
							</div>

							<div class="form-group mb-2">
								<div class="row justify-content-center">
									<div class="col text-center">
										<button class="btn btn-outline-custom-color fs-5 fw-semibold"
											type="submit">Registrarme</button>
									</div>
								</div>
							</div>
							<div class="form-group mb-3">
								<div class="row justify-content-center">
									<div class="col text-center">
										<span class="fst-italic"> ¿Ya estás registrado?
											<a th:href="@{/login}" class="text-decoration-none">Haz login aquí</a>
										</span>
									</div>
								</div>
							</div>


							<div id="validationErrorToast"
								class="toast position-absolute top-50 start-50 translate-middle"
								data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
								<div class="toast-header bg-danger bg-gradient bg-opacity-75">
									<strong class="me-auto fs-5"><i
											class="fa-sharp fa-solid fa-circle-exclamation fa-flip"></i> Aviso</strong>
									<button type="button" class="btn-close" data-bs-dismiss="toast"
										aria-label="Close"></button>
								</div>
								<div class="toast-body">
									<strong class="text-danger">Rellene todos los campos del formulario correctamente
										antes de enviarlo</strong>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script type="module" src="/js/registro.js"></script>
</body>

</html>