<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Fase 4</title>

<body>

	<header th:insert="~{fragmentos/nav.html}"></header>
	
	<div th:replace="~{fragmentos/componenteFasesSecuencial :: componente-fases-secuencial}"></div>

	<div id="secuencialFase4"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

	<script type="module" src="/js/secuencialFase4.js"></script>	
	
	<script type="text/javascript" src="/js/utils.js"></script>	

</body>

</html>