<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head.html}"></head>
<title>Fase 4</title>

<body>

	<header th:insert="~{fragmentos/nav.html}"></header>
	
	<div class="flex-component">
		<div class="fase-container">
			<div class="fase-border-component"></div>
			<div class="fase-component">
				<span class="text-fase-component">Nº Optimo de clusters</span>
			</div>

		</div>

		<div class="fase-container">
			<div class="fase-border-component"></div>
			<div class="fase-component">
				<span class="text-fase-component">Subpopulations</span>
			</div>
		</div>

		<div class="fase-container">
			<div class="fase-border-component"></div>
			<div class="fase-component">
				<span class="text-fase-component">Metricas de varianza</span>
			</div>
		</div>

		<div class="fase-container">
			<div class="fase-border-component fase-border-component-dark"></div>
			<div class="fase-component fase-component-dark">
				<span class="text-fase-component">Estadísticas de población</span>
			</div>
		</div>

		<div class="fase-container">
			<div class="fase-border-component"></div>
			<div class="fase-component">
				<span class="text-fase-component">Rendimiento del modelo</span>
			</div>
		</div>
	</div>

	<div id="secuencialFase4"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

	<script type="module" src="/js/secuencialFase4.js"></script>	
	
	<script type="text/javascript" src="/js/utils.js"></script>	

</body>

</html>