<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<meta charset="utf-8">
	
	<!--<title th:text="${titulo}">X</title>-->
	<!-- Latest compiled and minified CSS -->
	<link href="/css/styles.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</html>