<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	
	<nav th:if="${session.medico}" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/admin/fases}">Fases</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/admin/medicos}">Médicos registrados</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	<nav th:unless="${session.medico}" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
	        <!--<a class="navbar-brand" th:href="@{/index}">Login y Registro</a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>-->
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/registro}">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
	            </ul>
	        </div>
	    </div>
	</nav>


</html>