<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<nav class="navbar navbar-expand-lg bg-custom-color bg-gradient">
	<div class="container-fluid">
		<!--<a class="navbar-brand" th:href="@{/}">Navbar scroll</a>-->
		<a class="navbar-brand m-0 px-2" th:href="@{/}">
			<i class="fa-solid fa-heart-pulse fs-4 nav-index-icon"></i>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
			aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Nav Menú</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body py-0 px-3">
				<ul class="navbar-nav justify-content-start flex-grow-1 pe-3">

					<!-- Usuario logueado-->
					<li th:if="${session.usuario != null and session.rol == 'ROLE_ADMIN'}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/admin/procesamientos}">Fases</a>
					</li>
					<li th:if="${session.usuario != null and session.rol == 'ROLE_ADMIN'}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/admin/medicosRegistrados}">Médicos
							registrados</a>
					</li>

					<li th:if="${session.usuario}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/medico}">Herramienta predictiva</a>
					</li>
					<li th:if="${session.usuario != null and session.rol == 'ROLE_ADMIN'}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/admin/predicciones}">Predicciones</a>
					</li>
					<li th:if="${session.usuario != null and session.rol == 'ROLE_ADMIN'}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/admin/algoritmos}">Algoritmos</a>
					</li>
					


					<!-- Usuario sin loguear-->
					<li th:unless="${session.usuario}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/registro}">Registro</a>
					</li>
					<li th:unless="${session.usuario}" class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/login}">Iniciar Sesión</a>
					</li>


				</ul>

				<ul class="navbar-nav justify-content-end flex-grow-1">
					<li th:if="${session.usuario != null and session.rol == 'ROLE_ADMIN'}" class="nav-item">
						<a class="nav-link" th:href="@{/admin/exportarBBDD}" ><i class="fa-sharp fa-solid fa-file-export"></i></a>
					</li>



					<li th:if="${session.usuario}" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="fa-solid fa-user"></i> [[${session.nombreUsuario}]]
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item fs-6 fw-semibold" aria-current="page"
									th:href="@{/perfilUsuario/{idUsuario}(idUsuario=${session.idUsuario})}">Mi perfil <i
										class="fa-solid fa-pen-to-square"></i></a></li>
							<li><a class="dropdown-item fs-6 fw-semibold" aria-current="page"
									th:href="@{/logout}">Cerrar sesión <i
										class="fa-solid fa-right-from-bracket"></i></a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>
</nav>

</html>