
$nav-link-font-size: 18px;
$nav-link-font-weight: bold;

$navbar-light-color: rgb(233, 233, 233);
$navbar-light-hover-color: #fff;

$input-btn-focus-box-shadow: none;
$form-file-button-color:     #fff;
$form-file-button-bg:       rgb(65,105,225);
$form-file-button-hover-bg:    rgb(99, 132, 231);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

//#7B68EE
$custom-colors: (
  "custom-color": rgb(65,105,225),
  "custom-light-color": rgb(123, 151, 234)
);

// Merge the maps
$table-color-variants: (
  "custom-color":  rgb(162, 182, 240),
  "custom-color-table-head":  rgb(114, 143, 233) 
);


$theme-colors: map-merge($theme-colors, $custom-colors);
$table-variants: map-merge($table-variants, $table-color-variants);


@import "../node_modules/bootstrap/scss/bootstrap";



.nav-index-icon {
	color: $navbar-light-color !important;
}

.nav-index-icon:hover{
	color: $navbar-light-hover-color !important;
}

.btn-unstyled{
	color: white !important;
}

.btn-unstyled:hover{
	color: rgb(211, 221, 248) !important;
}
